<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuqq.oauth.mapper.TbPermissionMapper">

    <select id="selectByID" resultType="com.wuqq.oauth.entity.TbPermission">
        select  e.* from
        oauth2.tb_user a
        left join oauth2.tb_user_role b on a.id=b.user_id
        left join oauth2.tb_role c on c.id=b.user_id
        left join oauth2.tb_role_permission d on d.role_id=c.id
        left join oauth2.tb_permission e on e.id=d.permission_id
        where a.id=#{userID};
    </select>
</mapper>
